* {
  padding: 0px;
  margin: 0px;
}

.hero {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 40px;
}

h1:hover {
  color: red;
}
